

.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto; /* Full viewport height to center vertically */
    padding: 290px;
    margin-top: 40%;
    margin-right: 10%;
    margin-left: 10%;
  }

  h5{

    line-height: 5vh;
    font-size: 1.2em;
    font-weight: 600;
    margin-right: 5vw;
    margin-left: 5vw;
    margin-top: 20%;
    margin-bottom: 6vh;
    color: #ffffff;
  }


  
@keyframes wave {
    0% {
        transform: rotate(0deg)
    }

    50% {
        transform: rotate(90deg)
    }

    100% {
        transform: rotate(360deg)    ;
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
}
}

#wave {
  
     height: 600%;
      width:600%;
   /* overflow: hidden;*/
   /* position:-ms-page;
    bottom:0;*/
}

/*#wave:before,*/
#wave:before {
  content: "";
  /*overflow: hidden;
  position: absolute;*/
  /*top:65%;*/
  /*frombottomtotopdirectwaves*/left: -250vw;
  /*width:600vw;
  height: 600vw;*/
  background: rgba(25, 25, 25, 0.375);
  /*Transparentblack*/border-radius: 58% 52% 52% 58% / 58% 52% 58% 52%;
  animation: wave 11s ease-in-out infinite;
  animation-delay: -8s;
  -webkit-animation: wave 20s ease-in-out infinite;
}

#wave:after {
  animation: wave 10s linear infinite;
  -webkit-animation: wave 10s linear infinite;
}
/* Responsive Styles */
@media (max-width: 1200px) {
   .login{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto; /* Full viewport height to center vertically */
        padding: 290px;
        margin-top: -150px;
        margin-right: 10%;
        margin-left: 10%;
        
   }
    h5 {
        line-height: 5vh;
        font-size: 3.2em;
        font-weight: 600;
        margin-top: 20%;
        margin-right: 30%;
        margin-left: 10%;
        margin-bottom: 6vh;
        color: #ffffff;
  }
    

  

   
}

@media (max-width: 992px) {
    .login{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        padding: 290px;
        margin-top: 40%;
        margin-right: 20%;
        margin-left: 10%;
        
   }
    h1 {
        font-size: 40px;
    }

    .heading {
        font-size: 3em;
    }

    h5 {
        line-height: 5vh;
        font-size: 1.2em;
        font-weight: 600;
        margin-right: 5vw;
        margin-left: 5vw;
        margin-top: -100vh;
        margin-bottom: 6vh;
        color: #ffffff;
    }

    button {
        font-size: 16px;
        padding: 0.8em 1.3em;
    }

    .artist-button,
    .artist-image {
        width: 80px;
        height: 80px;
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: 35px;
    }
     .login{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        padding: 290px;
        margin-top: 40%;
        margin-right: 20%;
        margin-left: 10%;
        
   }

    .heading {
        font-size: 2.5em;
        margin-bottom: 50vh;
    }

    h5 {
        line-height: 5vh;
        font-size: 1.2em;
        font-weight: 600;
        margin-right: 5vw;
        margin-left: 5vw;
        margin-top: -100vh;
        margin-bottom: 6vh;
        color: #ffffff;
    }

    button {
        font-size: 15px;
        padding: 0.7em 1.1em;
    }

    .artist-button,
    .artist-image {
        width: 70px;
        height: 70px;
    }

    .inner-header {
        height: auto;
    }

    .buttons-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .buttons-container button {
        margin-left: 0;
        margin-top: 20px;
    }
}

@media (max-width: 576px) {


    h5 {
        line-height: 5vh;
        font-size: 1.2em;
        font-weight: 600;
        margin-right: 5vw;
        margin-left: 5vw;
        margin-top: -100vh;
        margin-bottom: 6vh;
        color: #ffffff;
    }

  
}

@media (max-width:1700px) {


    h5 {
        line-height: 5vh;
        font-size: 1.2em;
        font-weight: 600;
        margin-right: 5vw;
        margin-left: 5vw;
        margin-top: -200px;
        margin-bottom: 6vh;
        color: #ffffff;
    }

  .login{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto; /* Full viewport height to center vertically */
        padding: 290px;
        margin-top: -90px;
        margin-right: 10%;
        margin-left: 10%;
        
   }
}