/*@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@900&display=swap');

* {
	text-decoration: none;
}
.landing-container {
	overflow-y: hidden;
	min-height: 100vh;
	background-color: white;
}

h1 {
	font-family: 'Nunito', sans-serif;
	font-weight: 300;
	letter-spacing: 2px;
	font-weight: 800;
	font-size: 60px;
}
p {
	font-family: 'Lato', sans-serif;
	letter-spacing: 1px;
	font-size: 14px;
	color: #333333;
}
.heading {
	margin-bottom: 10vh;
	font-size: 4em;
}
.header {
	position: relative;
	text-align: center;
	background: linear-gradient(
		-45deg,
		#8e2de2,
		#4a00e0,
		#c31432,
		#240b36,
		#1d2671,
		#c33764
	);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	color: white;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.logo {
	width: 50px;
	fill: white;
	padding-right: 15px;
	display: inline-block;
	vertical-align: middle;
}

.inner-header {
	text-align: justify;
	height: 80vh;
	width: 100%;
	margin: 0;
	padding: 0;
}
h5 {

	line-height: 5vh;
	font-size: 1.2em;
	font-weight: 600;
	margin-right: 5vw;
	margin-left: 5vw;
	margin-top: 12vh;
	margin-bottom: 6vh;
}
.flex {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.waves {
	position: relative;
	width: 100%;
	height: 15vh;
	margin-bottom: -7px; 
	min-height: 100px;
	max-height: 150px;
}

.content {
	position: relative;
	height: 20vh;
	text-align: center;
	background-color: white;
}



.parallax > use {
	animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
	animation-delay: -2s;
	animation-duration: 7s;
}
.parallax > use:nth-child(2) {
	animation-delay: -3s;
	animation-duration: 10s;
}
.parallax > use:nth-child(3) {
	animation-delay: -4s;
	animation-duration: 13s;
}
.parallax > use:nth-child(4) {
	animation-delay: -5s;
	animation-duration: 20s;
}
@keyframes move-forever {
	0% {
		transform: translate3d(-90px, 0, 0);
	}
	100% {
		transform: translate3d(85px, 0, 0);
	}
}

@media (max-width: 768px) {
	.waves {
		height: 2px;
		min-height: 40px;
	}
	.content {
		height: 3vh;
	}
	h1 {
		font-size: 24px;
		font-weight: 800;
	}
}



.fill:hover,
.fill:focus {
	box-shadow: inset 0 0 0 2em var(--hover);
	text-decoration: none;
}

.pulse:hover,
.pulse:focus {
	-webkit-animation: pulse 1s;
	animation: pulse 1s;
	box-shadow: 0 0 0 2em rgba(255, 255, 255, 0);
	text-decoration: none;
}

@-webkit-keyframes pulse {
	0% {
		box-shadow: 0 0 0 0 var(--hover);
	}
}

@keyframes pulse {
	0% {
		box-shadow: 0 0 0 0 var(--hover);
	}
}

.pulse {
	margin: 0px;
	--color: #fff;
	--hover: #fff;
}

button {
	color: var(--color);
	-webkit-transition: 0.25s;
	transition: 0.25s;
	background: none;
	border: 2px solid;
	font-family: 'Nunito', sans-serif;
	font-weight: 450;
	line-height: 1;
	font-size: 20px;
	padding: 1.25em 1.8em;
}

button:hover,
button:focus {
	border-color: var(--hover);
	color: #fff;
	text-decoration: none;
}

code {
	color: #e4cb58;
	font: inherit;
}

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }

  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
@keyframes mygradient {
    0% {
        background-position: 0%
    }

    600% {
        background-position: 600%
    }
}

body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-y: scroll;
    background: linear-gradient(90deg, rgb(46, 46, 46), rgb(233, 30, 99), rgb(156, 39, 176), rgb(63, 81, 181));
    
    height: 10240px;
    width:1024px;
    overflow: hidden;
    background-size: 600% 100%;
    background-repeat: no-repeat;
    animation: mygradient 9s linear infinite alternate;
    -webkit-animation: mygradient 9s linear infinite alternate;
}

@keyframes wave {
    0% {
        transform: rotate(0deg)
    }

    50% {
        transform: rotate(90deg)
    }

    100% {
        transform: rotate(360deg)    ;
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
}
}

#wave {
   /* height: 600%; */
    height: 100%;
    width:600px;
    overflow: hidden;
    position:-ms-page;
    bottom:0;
}

#wave:before,
#wave:after {
  content: "";
  overflow: hidden;
  position: absolute;
  top:65%; /* from bottom to top direct waves*/
  left: -250vw;
  width:600vw;
  height: 600vw;
  background: rgba(0, 0, 0, 0.375);

  /*Transparentblack*/border-radius: 48% 52% 52% 48% / 48% 52% 48% 52%;
  animation: wave 9s ease-in-out infinite;
  animation-delay: -3s;
  -webkit-animation: wave 9s ease-in-out infinite;
}

#wave:after {
  animation: wave 9s linear infinite;
}
.buttons-container {
    display: flex;
    justify-content: flex-end; /* Align buttons to the right */
    margin-right: 30px;
    margin-bottom: 30px;
    
  }



  .auth {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .h5{

    line-height: 5vh;
    font-size: 1.2em;
    font-weight: 600;
    margin-right: 5vw;
    margin-left: 5vw;
    margin-top: 12vh;
    margin-bottom: 6vh;
    color: #ffffff;
  }
 .playlist-container{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 55px; 
    padding: 20px;

 }
  /* Responsive styles 
@media (max-width: 1400px) {
    .h5 {
      font-size: 1.1em;
      margin: 4vw 4vw 5vh 4vw;
    }
  }
  
  @media (max-width: 992px) {
    .h5 {
      font-size: 1em;
      margin: 3vw 3vw 4vh 3vw;
    }
  
    .buttons-container {
      justify-content: center;
      margin: 60%;
    }
  }
  
  @media (max-width: 768px) {
    .h5 {
      font-size: 0.9em;
      margin: 2vw 2vw 3vh 2vw;
    }
  
    .buttons-container {
      flex-direction: column;
      align-items: center;
      margin: 15px;
    }
  }
  
  @media (max-width: 500px) {
   
    .h5 {
      font-size: 0.8em;
      margin: 60%;
    }
  
    .buttons-container {
      margin: 10px;
    }
  }
  
  @media (max-width: 360px) {
    .h5 {
      font-size: 0.7em;
      margin: 0.5vw 0.5vw 1vh 0.5vw;
    }
  
    .buttons-container {
      margin: 5px;
    }
  }*/